:root {
  --darkBlue: #251d3a;
  --darkRed: #ff0063;
  --copiedColor: #52de97;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.theme_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 10px;
}

.btn__theme_switch {
  border-radius: 8px;
  padding: 6px 12px;
  outline-style: none;
  border: none;
  cursor: pointer;
  background-color: var(--darkBlue);
  color: #fff80a;
}

.moon__svg__item {
  display: block;
}

.sun__svg__item {
  display: none;
}

.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* animation: fadeIn 2s ease-in; */
}

.main_title {
  font-size: 2rem;
  width: 400px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--darkBlue);
  letter-spacing: 1.5px;
  animation: linearDown 0.8s linear;
}

.input_wrapper {
  width: 400px;
  margin: 20px 0px;
}

.input__password {
  width: 100%;
  padding: 12px;
  color: var(--darkBlue);
  border: 2px solid 251d3a;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1rem;
  border-radius: 8px;
  outline-style: none;
  animation: linearLeft 0.8s linear;
}

.btn__generate_pwd {
  width: 100%;
  padding: 12px;
  outline-style: none;
  border-radius: 8px;
  background-color: var(--darkBlue);
  color: #ffff;
  margin-top: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  animation: linearUp 0.8s linear;
}

.generate_password_container {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}

.generate_password_title {
  color: var(--darkRed);
  font-size: 24px;
  font-weight: 600;
  animation: apperaPassword 2.5s ease-in-out;
}

.copy_message {
  font-weight: 600;
  font-size: 18px;
  color: var(--copiedColor);
  transition: all;
  padding-top: 8px;
  animation: disappear 2.5s linear;
  opacity: 0;
}

@keyframes disappear {
  30% {
    opacity: 0.8;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes apperaPassword {
  15% {
    opacity: 0.15;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes linearDown {
  0% {
    transform: translateY(-200px);
  }
  60% {
    translate: translateY(-150px);
  }
  80% {
    translate: translateY(-100px);
  }
  100% {
    translate: translateY(0px);
  }
}

@keyframes linearLeft {
  0% {
    transform: translateX(-200px);
  }
  60% {
    translate: translateX(-150px);
  }
  80% {
    translate: translateX(-100px);
  }
  100% {
    translate: translateX(0px);
  }
}

@keyframes linearUp {
  0% {
    transform: translateY(200px);
  }
  60% {
    translate: translateY(150px);
  }
  80% {
    translate: translateY(100px);
  }
  100% {
    translate: translateY(0px);
  }
}
